<%- include('partials/header')%>
<%- include('partials/navbar')%>
<body>
  <div class="container-fluid">  
   <div class="row">
        <div class="col-lg">
            <h1 class="text-uppercase mx-auto text-center">In the mood to catch a flick? See what movies are playing now</h1>

            <form action="/movies" method="GET">

            <button type="submit" class="btn btn-warning btn-ls text-white">Show me a list of movies!</button>

            </form>
        </div>
   </div>

</body>
</html>